{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Face-Photo-Organizer</title>
        <link rel="stylesheet" href="{% static 'photos/styles/index.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="/photos">Photos</a>
                <a href="/faces">Faces</a>
                <a href="/customization">Customization</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
            </nav>
        </header>

        <main>
            <section>
                <h2>All Photos<h2>
                <ul>
                    {% if faces|length > 0 %}
                        {% for face in faces %}
                            <li class="photo-item">
                                <article>
                                    <div class="face-image">
                                        <img src="" alt="">
                                    </div>
                                    <div class="face-identity">
                                        <p>{{ face.identity }}</p>
                                    </div>
                                    <div class="face">
                                        <p>{{ face.description }}</p>
                                    </div>
                                    <div class="photo-actions">
                                        <a href="" class="btn">Find photos</a>
                                    </div>

                            
                                </article>
                            </li>
                        {% endfor %}
                    {% else %}
                        <h2>No photo found. Upload new photos</h2>
                    {% endif %}
                <ul>
            </section>

            {% if photo_display %}
                {% for photo in photos %}
                    <h2>{{ photo.name }}</h2>
                {% endfor %}
            {% else %}
                <h2>No photo found. Upload new photos</h2>
            {% endif %}
        </main>

    </body>
</html>